* {
  background-color: lightblue;
}
.profile img {
  /* to tilt my image */
height: 25 vh;
transform: rotate(90deg);
margin: auto;
display: block;
}
.transition {
  font-family: fantasy;
  font-size: 24px;
}
.hero-img {
  outline-style: dashed;
}
